<!-- footer -->

<footer id="footer" class="py-5 px-5 my-5 container-fluid">
  <div class="row justify-content-center">
    <div class="col-6 col-md-2 mb-3">
      <h5>StreetKidsCan</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-reset">Address</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-reset">Phone no</a>
        </li>
        <li class="nav-item mb-2">
          <a href="{% url 'contact' %}" class="nav-link p-0 text-reset">Contact Us</a>
        </li>
      </ul>
    </div>

    <div class="col-6 col-md-2 mb-3">
      <h5>Related Links</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="{% url 'whoweare' %}" class="nav-link p-0 text-reset">Who We Are</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-reset">Mission</a>
        </li>
        <li class="nav-item mb-2">
          <a href="{% url 'programs' %}" class="nav-link p-0 text-reset">Programs</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-reset">The Team</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-reset">Make a donation</a>
        </li>
      </ul>
    </div>

    <div class="col-md-5 offset-md-1 mb-3">
      <form>
        <h5>Receive updates on upcoming events.</h5>
        <p>Monthly digest of what's new and exciting from us.</p>
        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
          <label for="newsletter1" class="visually-hidden">Email address</label>
          <input
            id="newsletter1"
            type="text"
            class="form-control"
            placeholder="Email address"
          />
          <button class="btn btn-light" type="button">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</footer>

<!-- copyright -->
<p>© Copyright 2023 StreetKidsCan</p>
