<!-- Nav Bar -->
<section id="navigation">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand text-reset" href="/"
        >LOGO
        <!-- <img
              class="logo"
              src="./images/StreetKidsCan logo.jpeg"
              alt="StreetKidsCan Logo"
            /> -->
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item px-2">
            <a class="nav-link nav-text text-reset" href="{% url 'homepage' %}"
              >Home</a
            >
          </li>
          <li class="nav-item dropdown px-2">
            <a href="{% url 'whoweare' %}" class="nav-link nav-text text-reset d-inline-block">Who We are</a>
            <a class="nav-link nav-text text-reset dropdown-toggle d-inline-block" href=""  role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"></a>Our Mission</li>
              <hr>
              <li><a class="dropdown-item" href="#"></a>Our Vision</li>
              <hr>
              <li><a class="dropdown-item" href="#"></a>Our Values</li>
              <hr>
              <li><a class="dropdown-item" href="#"></a>Our Target</li>
              <hr>
              <li><a class="dropdown-item" href="#"></a>Leadership</li>
              <hr>
              <li><a class="dropdown-item" href="#"></a>Advisory Board</li>
            </ul>
          </li>
        
          <li class="nav-item dropdown px-2">
            <a href="{% url 'programs' %}" class="nav-link nav-text text-reset d-inline-block">Programs</a>
            <a href="" class="nav-link nav-text text-reset dropdown-toggle d-inline-block" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a> 
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"></a>Mobile Learning Outreach</li>
                <hr>
                <li><a class="dropdown-item" href="#"></a>Mentoring and Counselling</li>
                <hr>
                <li><a class="dropdown-item" href="#"></a>Placement & Re-integration</li>
                <hr>
                <li><a class="dropdown-item" href="#"></a>Community Support</li>
              </ul>
          </li>
  
          <li class="nav-item px-2">
            <a href="{% url 'impact' %}" class="nav-link nav-text text-reset">Make an Impact</a>
          </li>
          <li class="nav-item px-2">
            <a href="{% url 'contact' %}" class="nav-link nav-text text-reset">Get in Touch</a>
          </li>
          <li class="nav-item px-2">
            <a href="{% url 'donate' %}" class="nav-link nav-donate text-reset">DONATE</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
