{% extends 'base.html' %} {% block content%}
    <!-- hero section -->

    <section id="hero" class="grey-section">
      <div class="container-fluid ">
        <div class="row pt-5 pb-5">
          <div class="col-lg-6 pt-3 pb-3">
            <h2 class="hero-heading display-5 fw-bold lh-1.5 mb-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
              animi dolor. 
            </h2>
            <button type="button" class="btn btn-danger btn-lg mt-5 mb-4">
              Explore Now
            </button>
          </div>
          <div class="hero-image mx-auto col-10 col-sm-8 col-lg-6">
            <!-- <img class="" src="" alt="" /> -->
          </div>
        </div>
      </div>
    </section>

    <!-- mission -->
    <section id="mission" class="white-section">
      <div class="container-fluid">
        <div class="row">
          <div class="hero-image col-lg-4">
            <img src="" alt="" />
          </div>

          <div class="col-lg-8">
            <h3>Our Mission</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error,
              voluptas libero? Laudantium, quibusdam. Blanditiis corrupti
              expedita.
            </p>
            <a href="">Learn How to Volunteer</a>
          </div>
        </div>
      </div>
    </section>

    <!-- programs -->
    <section id="home-programs" class="grey-section pt-4 pb-4">
      <h2>Programs</h2>
      <div class="card-text container-fluid">
        <div class="row">
          <div class="card col-lg-3" style="width: 18rem">
            <div class="card-image">
              <!-- insert image tag and image -->
            </div>
            <div class="card-body">
              <h5 class="card-title">Mobile Learning Outreach</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>

            <div class="card-body">
              <a href="#" class="card-link">See more...</a>
            </div>
          </div>

          <div class="card col-lg-3" style="width: 18rem">
            <div class="card-image">
              <!-- insert image tag and image -->
            </div>
            <div class="card-body">
              <h5 class="card-title">Mentoring & Counselling</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>

            <div class="card-body">
              <a href="#" class="card-link">See more...</a>
            </div>
          </div>

          <div class="card col-lg-3 " style="width: 18rem">
            <div class="card-image">
              <!-- insert image tag and image -->
            </div>
            <div class="card-body">
              <h5 class="card-title">Placement and Reintegration</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>

            <div class="card-body">
              <a href="#" class="card-link">See more...</a>
            </div>
            
            </div>
  
            <div class="card col-lg-3" style="width: 18rem">
              <div class="card-image">
                <!-- insert image tag and image -->
              </div>
              <div class="card-body">
                <h5 class="card-title">Community Support</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
  
              <div class="card-body">
                <a href="#" class="card-link">See more...</a>
              </div>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-danger btn-lg mt-5 mb-4">
        Explore more programs
      </button>
    </section>

    <!-- our volunteers-->

    <section id="home-volunteers" class="pt-5">
      <h2>Our Volunteers</h2>
      <p>some of our volunteers include</p>
      <div class="container-fluid">
        <div class="rows d-flex justify-content-center">
          <div class="volunteer-image col-sm-3"></div>
          <div class="volunteer-image col-sm-3"></div>
          <div class="volunteer-image col-sm-3"></div>
          <div class="volunteer-image col-sm-3"></div>
        </div>

        <div class="pt-4">
            <a href="">More about our team</a>
         </div>
      </div>
    </section>

    <!-- donations -->

    <section id="home-donations" class="grey-section pt-5 pb-5">
      <h2>Donations</h2>
      <p>
        Thak to your generosity, we have received a total of N000,000,000 in
        donations which have gone towards the execution of XYZ.
      </p>
      <h4>If you would like to donatem kindly click the button below.</h4>
      <button type="button" class="btn btn-danger btn-lg mt-5 mb-4">Make a Donation</button>
    </section>

    <!-- sponsors -->
    <section id="sponsors" class="pt-5" >
        <h2>Our Sponsors Include:</h2>
        <div class="container-fluid">
            <div class="rows d-flex justify-content-center">
            <div class="volunteer-image col-sm-3"></div>
            <div class="volunteer-image col-sm-3"></div>
            <div class="volunteer-image col-sm-3"></div>
            <div class="volunteer-image col-sm-3"></div>
        </div>
    </section>
    {% endblock %}