{% extends 'base.html' %} {% block content%}

<div class="prog-header prog-gradient d-flex justify-content-center align-items-center">
    <!-- <img src="/static/images/Donation more.jpg" alt="" class="photo-image"> -->
    <h1 style="color: white;">COMMUNITY SUPPORT</h1>
</div>

<div class="container-fluid">
    <!-- <div class="col-lg-6 mx-auto"></div> -->
    <p>We believe the immediate environment plays a vital role in helping street children to develop a better self-esteem. The lack of We work directly with community leaders and families by providing them with basic amenities and resources to improve their quality of life. This program will also include free medical consultations and sponsorship of drugs and medical procedures where necessary.</p>
</div>

<div>
    <h1>GALLERY</h1>
</div>
{% endblock %}
