{% extends 'base.html' %} {% block content%}
    <!-- who we are -->
    <section class="pink-section">
      <div class="px-4 py-5 my-5">
        <h1 class="display-5 fw-bold">Who We Are</h1>
        <div class="col-lg-6 mx-auto">
          <p class="mb-4">
            Street Kids Can is a volunteer led organization committed to
            nurturing and unlocking the skills and talents of street children
            through interactive and unconventional educational resources and
            activities to boost their self-esteem, empower them and provide an
            opportunity for them to break out of generational poverty and take
            charge of their lives for a brighter future.
          </p>
        </div>
      </div>
    </section>

    <!-- our mission -->
    <section class="white-section">
      <div class="container">
        <div class="row align-items-center g-5 py-5 my-5">
          <h2 class="col-lg-6">Our Mission</h2>
          <p class="col-lg-4">
            To empower street children to find their path out of poverty by
            nurturing their strengths and talents through informal educational
            activities.
          </p>
        </div>
      </div>
    </section>
    <!-- our vision -->
    <section class="grey-section">
      <div class="container py-5">
        <div class="d-flex flex-row-reverse align-items-center g-5 py-5">
          <h2 class="col-lg-6">Our Vision</h2>
          <p class="col-lg-4">
            We envision a future where every street child is equipped with
            skills and resources to break free from generational poverty and
            achieve sustainable development.
          </p>
        </div>
      </div>
    </section>
    <!-- our values -->
    
    <section class="white-section">
      <div class="container">
        <div class="row align-items-center g-5 py-5 my-5">
          <h2 class="col-lg-6">Our Values</h2>
          <ul class="col-lg-4 text-start mx-auto">
            <li>Inclusiveness</li>
            <li>Empathy</li>
            <li>Community</li>
            <li>Equity</li>
            <li>Accountability</li>
            <li>Empowerment</li>
            <li>Sustainability</li>
          </ul>
          
        </div>
      </div>
    </section>
    
    <!-- Our Target -->
    <section class="pink-section">

      <div class="container">
        <div class="d-flex flex-row-reverse align-items-center g-5 py-5 my-5">
          <h2 class="col-lg-6">Our Target</h2>
          <p class="col-lg-4">
            By the year 2032, we aim to have impacted 10,000 street kids across
            Nigeria and successfully re-integrate them into the mainstream society
            armed with the necessary mental and vocational skills to thrive and live
            independently off the streets. We envision our program will empower them
            and help them break away from generational poverty through provision of
            informal education and life skills that will prepare them for
            sustainable development and a brighter
          </p>
        </div>
      </div>
  
    </section>
    <!-- our approach -->
    <section class="white-section">

      <div class="container">
        <div class="row align-items-center g-5 py-5 my-5">
          <h2 class="col-lg-6">Our Approach</h2>
          <p class="col-lg-4">
            We believe a positive self-image is at the core of street kids’ ability
            to reintegrate successfully into the mainstream society. Unfortunately,
            the complex circumstances that leads to the kids ending up on the street
            often leaves them feeling unworthy. 
            <br>
            As a result, range of programs are
            designed to nurture and unlock the strengths and talents of each child
            and help then regain their self-esteem and be more hopeful about a
            brighter future. 
            <br>
            Our programs are designed to facilitate self-discovery
            and nurture hidden talents through informal education and recreational
            activities. Children in our programs will spend time each week across
            different activities varying from the mobile learning school to therapy
            and counselling sessions as well as vocational and skills acquisition
            programs based on their individual needs.
            <br>
            Our volunteers and partners
            will dedicate time each week to facilitate the programs alongside our
            public and private sector partners who provide us with access to their
            spaces and resources.
          </p>
        </div>
      </div>
    </section>

    <!-- Leadership -->
   
    <section class="grey-section">
        <div class="container py-5">
          <h2>Leadership</h2>
        <div>
        <div>
          <div class="leadership-image mx-auto"></div>
          <h5>Oyinda Kazeem</h5>
          <p>Founder</p>
          <p>short text about the person. this should take about 3 lines</p>
        </div>
    </section>

    <!-- Advisory Board -->
    <section class="white-section">
      <h2>Advisory Board</h2>

      <div class=" container-fluid row g-5">
        <div class="col-lg-3 col-md-4">
          <div class="leadership-image mx-auto"></div>
          <h5>Omolara Fausat Olanrewaju</h5>
          <p>Title</p>
          <p>short text about the person. this should take about 3 lines</p>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="leadership-image mx-auto"></div>
          <h5>Oyinkansola Edet </h5>
          <p>Title</p>
          <p>short text about the person. this should take about 3 lines</p>
        </div>
      

        <div class="col-lg-3 col-md-4">
          <div class="leadership-image mx-auto"></div>
          <h5>Tomi Odunsi</h5>
          <p>Title</p>
          <p>short text about the person. this should take about 3 lines</p>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="leadership-image mx-auto"></div>
          <h5>Yemi Afariogun</h5>
          <p>Title</p>
          <p>short text about the person. this should take about 3 lines</p>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="leadership-image mx-auto"></div>
          <h5>Jokotola Edu</h5>
          <p>Title</p>
          <p>short text about the person. this should take about 3 lines</p>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="leadership-image mx-auto"></div>
          <h5>Femi Williams</h5>
          <p>Title</p>
          <p>short text about the person. this should take about 3 lines</p>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="leadership-image mx-auto"></div>
          <h5>Ibrahim Onikoro</h5>
          <p>Title</p>
          <p>short text about the person. this should take about 3 lines</p>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="leadership-image mx-auto"></div>
          <h5>The Treasurer</h5>
          <p>Treasurer</p>
          <p>short text about the person. this should take about 3 lines</p>
        </div>
      </div>
    </section>
    
    {% endblock %}