body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-weight: "Montserrat";
  color: #020202;
}
a{
  color: #000;
}

a:hover{
  color: #0d8dbb;
}
/* buttons */
.btn{
  background-color: #ff4552;
  color: #fff;
  transition: .4s all;
}

.btn:hover{
  background-color: #ff4552;
  color: white;
  transform: scale(1.2);

}

/* Sections */
.grey-section {
  background-color: #f8f8f8;
}

.white-section {
  background-color: #fff;
}

.blue-section {
  background-color: #71c2e0;
}
.yellow-section {
  background-color:#fccd3e;
}

.pink-section {
  background-color: #ff4552;
}

/* container */

.container-fluid {
  margin: 2% auto;
  padding: 5% 10%;
}

/* NavBar */

#logo {
  height: 100px;
  width: 100px;
}

#logo img{
  height: 100%;
  width: 100%
}

#navigation {
  margin: 2% auto 0;
  padding: 0 10%;
  /* background-color: #ff4552; */
  color: white;
}

.border-warning{
  border-color: #fdbf00 !important;
}

.nav-text{
  color:#ff4552;
}

.nav-text:hover {
 color: #0d8dbb;
}

@media (min-width:576px){
  .dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
    margin-left: 0;
  }
}

/* Hero Section */

#hero {
  text-align: left;
}
.hero-image {
  height: 350px;
  width: 350px;
  border-radius: 100%;
  background-color: #f8e9ed;
}
.hero-container {
  padding: 5% 7%;
}


/* home page */

/* carousel */

.c-item{
  height: 500px;
}

.c-image{
  height: 100%;
}

/* home-mission */
#mission {
  text-align: right;
}

/* programs */
.card-text {
  text-align: left;
}

.programs_item{
  height: 360px;
}

.programs_image{
  height: 100%;
  width: 100%;
}
/* .card-image {
  height: 250px;
  width: 250px;
  background-color: #f8e9ed;
} */

/* .card-col {
  padding: 3% 5%;
} */

/* volunteers */
.volunteer-image,
.sponsor-image,
.leadership-image {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-color: #f8e9ed;
}

/* footer */
#footer {
  background-color: #ff4552;
  color: #fff;
  text-align: left;
  margin: 0;
}

/* form */

input[type="text"],
input[type="email"],
textarea {
  padding: 12px 20px;
  margin: 8px auto;
  display: block;
}

/* donations page */

/* contact page */
.contact_hero {
  margin: 2% auto;
  padding: 5% 20%;
}

.photo-item{
height: 400px;
}

.photo-image{
height: 100%;
width: 100%;
object-fit: cover;
}