body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  color: #020202;
}


h1, h2 {
  font-weight: 800;
  line-height: 1.2;
}

a{
  color: #000;
}

a:hover{
  color: #0d8dbb;
}
/* buttons */
.btn{
  background-color: #ff4552;
  color: #fff;
  transition: .4s all;
}

.btn:hover{
  background-color: #ff4552;
  color: white;
  transform: scale(1.2);
}

/* Sections */
.grey-section {
  background-color: #f8f8f8;
}

.white-section {
  background-color: #fff;
}

.blue-section {
  background-color: #71c2e0;
}
.yellow-section {
  background-color:#fccd3e;
}

.pink-section {
  background-color: #ff4552;
}

/* container */

.container-fluid {
  margin: 2% auto;
  padding: 5% 10%;
}

/* NavBar */

#logo {
  height: 100px;
  width: 100px;
}

#logo img{
  height: 100%;
  width: 100%
}

#navigation {
  margin: 2% auto 0;
  padding: 0 10%;
  color: white;
}

.border-warning{
  border-color: #fdbf00 !important;
}

.nav-text{
  color:#ff4552;
}

.nav-text:hover {
 color: #0d8dbb;
}

@media (min-width:576px){
  .dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
    margin-left: 0;
  }
}

.dropdown-item:hover{
background-color: #0d8dbb;
color: #fff;
}

/* Hero Section */

#hero {
  text-align: left;
}

.hero-container {
  padding: 5% 7%;
}

/* home page carousel */
.c-item{
  height: 400px;
}

.c-image{
  height: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color:  #ff4552;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color:  #ff4552;
}

/* home-mission */
#mission {
  text-align: right;
}

/* programs */
.card-text {
  text-align: left;
}

.programs_item{
  height: 360px;
}

.programs_image{
  height: 100%;
  width: 100%;
}

.prog-header{
  height: 250px;
  }

.prog-gradient{
  background-image: linear-gradient(to bottom right, #fdbf00, #ff4552);
}

#gallery > div > img:hover{
  cursor: pointer;
  transition: .4s all;
  transform: scale(1.2);
}


/* programs modal */

/* volunteers */
.sponsor-image,
.leadership-image {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-color: #0d8dbb;
}

/* footer */
#footer {
  background-color: #ff4552;
  color: #fff;
  text-align: left;
  margin: 0;
}

/* form */

input[type="text"],
input[type="email"],
textarea {
  padding: 12px 20px;
  margin: 8px auto;
  display: block;
}

/* contact page */
.contact_hero {
  margin: 2% auto;
  /* padding: 5% 10%; */
}

.photo-item{
height: 400px;
}

.photo-image{
height: 100%;
width: 100%;
object-fit: cover;
}

.contact-icon{
  color: #ff4552;
}

/* donations page */

/* Get in touch page */

@media (max-width:768px){
  /* 600px or smaller */
  #hero{
    /* background-color: orange; */
    text-align: center;
  }

  .home-mission{
    padding-top: 25px;
    text-align: center;
  }

  .mission-image{
    /* visibility: hidden; */
    display: none;
  }
  
}